<% provide(:title, "Home") %>

<!-- ============================================ -->
<!--                    Price Alerts              -->
<!-- ============================================ -->

<section id="price-alerts">
    <div class="cs-container">
        <div class="cs-content">
            <% if logged_in? %>
                <div class="cs-content-flex">
                    <h1 class="cs-title">Add a Price Alert</h1>
                    <%= render "shared/price_alert_form", price_alert: @price_alert %>
                    <h3 class="cs-title">Saved Alerts</h3>
                </div>
            <% end%>
        </div>
        <ul class="cs-card-group">
            <%= render @price_alerts if @price_alerts.any? %>
        </ul>
    </div>
</section>