<% provide(:title, "Home") %>

<section class="temp-pages">
    <div class="container">
        <% if logged_in? %>
            <h1>Add Price Alert</h1>
            <%= render "shared/price_alert_form", price_alert: @price_alert %>
                <h2 class="cs-title">Sports</h2>
                <ul class="price-alerts">
                    <%= render @price_alerts if @price_alerts.any? %>
                </ul>
        <% else%>
            <%= render "static_pages/logged_out_home" %>
        <% end %>
    </div>
</section>
