<section class="temp-pages">
    <div class="container">
        <% if logged_in? %>
            <h1>Add Price Alert</h1>
            <%= render "form", price_alert: @price_alert %>
        <% else%>
            <%= render "logged_out_home" %>
        <% end %>
    </div>
</section>
