<!-- ============================================ -->
<!--                   Update Account             -->
<!-- ============================================ -->
<% provide :verb, "Update" %> 

<section id="contact-1442">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Welcome!</span>
            <h2 class="cs-title">Update My Account</h2>
        </div>
        <div class="cs-contact-group">
            <picture class="cs-background">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/wind-turbine.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/wind-turbine.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/wind-turbine.jpg" alt="wind turbine" width="650" height="613">
            </picture>
        </div>
        <!--Form-->
        <%= render 'form' %>
    </div>
</section>
                            