<h1>Register New User</h1>

<% form_with model: @user do |form| %>
    <div>
        <%= form.label :email %>
        <%= form.text_field  :email%>
    </div>
    <div>
        <%= form.label  %>
    </div>
<% end%>