<% provide(:title, "Events")%>
<section class="temp-pages">
    <div class="container">
        <h1>All Events</h1>
        <ul class="events">
            <%= render @events %>
        </ul>
        <%= will_paginate @events %>
    </div>
</section>