.card {
    list-style-type: none;
    margin-bottom: 1rem;
    img {
        width: 16rem;
    }
}

.price-alert-card {
    list-style-type: none;
    margin-bottom: 1rem;

    img {
        width: 16rem
    }
    li {
        list-style-type: none;
    }
}