.card {
    list-style-type: none;
    margin-bottom: 1rem;
    img {
        width: 16rem;
    }
}

.price-alert-card {
    list-style-type: none;
    margin-bottom: 1rem;
    text-decoration: none;
    &.alert-user {
        background-color: rgb(202, 166, 166);
    }

    :hover {
        text-decoration: none;
    }

    img {
        width: 16rem
    }
    li {
        list-style-type: none;
    }
}