

.price-alert-card {
    list-style-type: none;
    margin-bottom: 1rem;
    text-decoration: none;
    border: 2px solid #e7e7e7;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: clamp(25vw, 41%, 35vw);

    &.alert-user {
        background-color: rgb(202, 166, 166);
    }

    :hover {
        text-decoration: none;
    }

    img {
        width: 100%;
    }
    li {
        list-style-type: none;
    }
}