/*-- -------------------------- -->
<---           Footer           -->
<--- -------------------------- -*/

/* Mobile - 360px - Contains hover state */
@media only screen and (min-width: 0rem) {
    #cs-footer-105 {
        padding: 2.5em 1em 1.25rem;
    }
    #cs-footer-105 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
    }
    #cs-footer-105 .cs-ul {
        padding: 0 0 2.5rem;
        margin: auto;
        border-bottom: 1px solid #eff0f6;
    }
    #cs-footer-105 .cs-li {
        list-style: none;
        text-align: center;
        margin-bottom: 1.25rem;
    }
    #cs-footer-105 .cs-li:last-of-type {
        margin-bottom: 0;
    }
    #cs-footer-105 .cs-link {
        /* 15px - 17px */
        font-size: clamp(0.9375rem, 2vw, 1.0625rem);
        line-height: 1.5em;
        text-decoration: none;
        font-weight: 700;
        color: var(--headerColor);
        position: relative;
    }
    #cs-footer-105 .cs-link:hover:before {
        width: 100%;
    }
    #cs-footer-105 .cs-link:before {
        /* top right box */
        content: "";
        width: 0%;
        height: 0.1875rem;
        background: var(--headerColor);
        opacity: 1;
        position: absolute;
        display: block;
        bottom: -0.125rem;
        left: 0;
        transition: width 0.3s;
    }
    #cs-footer-105 .cs-bottom {
        margin-top: 1.25rem;
        display: flex;
        /* set everyone to position on the left side */
        justify-content: flex-start;
        align-items: center;
    }
    #cs-footer-105 .cs-copyright {
        font-size: 0.9375rem;
        text-align: center;
        color: #a0a3bd;
        display: block;
        /* margin right auto on a flexbox pushes everyone else to the right */
        margin: 0 auto 0 0;
    }
    #cs-footer-105 .cs-social-link {
        width: 1.25rem;
        height: 1.25rem;
        margin-left: 0.75rem;
        background: #a0a3bd;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #cs-footer-105 .cs-social-link img {
        height: 0.6875rem;
        width: auto;
    }
}
/* Tablet - 700px */
@media only screen and (min-width: 43.75rem) {
    #cs-footer-105 .cs-ul {
        display: flex;
        /* push everything to the left */
        justify-content: flex-start;
        align-items: center;
    }
    #cs-footer-105 .cs-li {
        /* 45px - 88px */
        margin: 0 clamp(2.8125rem, 7vw, 5.5rem) 0 0;
    }
    #cs-footer-105 .cs-li:last-of-type {
        margin: 0;
        /* margin-left auto will push everything away and force it to the farthest 
                   right edge */
        margin-left: auto;
    }
}

                                