@import "bootstrap-sprockets";
@import "bootstrap";

:root {
    --primary: #3A00E5;
    --primaryLight: #ffba43;
    --secondary: #ffba43;
    --secondaryLight: #ffba43;
    --headerColor: #1a1a1a;
    --bodyTextColor: #4e4b66;
    --bodyTextColorWhite: #fafbfc;
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
}

body {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
}

.cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
}

.cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
}

/* Fonts and general styles */
@media only screen and (min-width: 0rem) {
    body,
    html {
        margin: 0;
        overflow-x: hidden;
        padding: 0;
        font-family: "Roboto", Arial, sans-serif;
        font-size: 100%;
        color: var(--bodyTextColor);
    }

    *,
    *:before,
    *:after {
        margin: 0;
        box-sizing: border-box;
        padding: 0;
    }

    body {
        transition: background-color 0.3s;
    }

    .container {
        position: relative;
        margin: auto;
        width: 92%;
        padding: var(--sectionPadding);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        color: var(--headerColor);
    }

    p,
    li,
    a {
        margin: 0;
        font-size: calc(16 / 16 * 1rem);
        line-height: 1.5em;
    }

    p,
    li {
        color: #353535;
    }

    a,
    button {
        &:hover {
            cursor: pointer;
        }
    }

    /* Hidden Screen reader skip nav button */
    .skip {
        z-index: -1111111;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }

    /* inter-regular - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        src: url('./fonts/inter-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    /* inter-italic - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Inter';
        font-style: italic;
        font-weight: 400;
        src: url('./fonts/inter-v18-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    /* inter-700 - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        src: url('./fonts/inter-v18-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
}

/* Reset Margins */
@media only screen and (min-width: 1024px) {
    body,
    html {
        margin: 0;
        padding: 0;
    }
}

/* Scale full website with the viewport width */
@media only screen and (min-width: 3000px) {
    body,
    html {
        font-size: 0.55vw;
    }
}

/* TEMPORARY */
                                  
.temp-pages h1 {
    margin: 6rem 1rem 2rem 1rem;
    font-size: 2rem;
    margin: 0;
    li {
        overflow: auto;
        padding: 10px 0;
        border-bottom: 1px solid $gray-lighter;
      }
}

.users {
    list-style-type: none;
}

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin: 2rem 1rem;
    padding: 0.25rem 1rem;
  }

//   --------HOME--------

.price-alerts {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
    row-gap: 1.75rem;
    column-gap: clamp(1rem, 2.5vw, 1.25rem);
}

/*-- -------------------------- -->
<---      Price Alert Grid      -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #price-alerts {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;
        
        .cs-container {
            width: 100%;
            max-width: calc(584 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    
        .cs-title {
            max-width: 20ch;
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
	    	font-weight: 700;
	        text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(200 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            box-sizing: border-box;
            transition: color .3s;

            &:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width .3s;
            }

            &:hover {
                color: #fff;
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            row-gap: calc(28 / 16 * 1rem);
            /* 16px - 20px */
            column-gap: clamp(1rem, 2.5vw, 1.25rem);
        }

        .cs-item {
            text-align: left;
            list-style: none;
            overflow: hidden;
            grid-column: span 12;
            position: relative;
            z-index: 1;
            transition: box-shadow .3s, transform .3s;
            
            &.alert-user {
                background-color: rgb(202, 166, 166);
            }

            &:hover {
                .cs-picture {
                    img {
                        opacity: .3;
                        transform: scale(1.1);
                    }
                }

                .cs-h3 {
                    color: var(--primary);
                }
            }
        }

        .cs-link {
            text-decoration: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .cs-picture {
            width: 100%;
            min-height: calc(220 / 16 * 1rem);
            /* changes at tablet */
            max-height: calc(300 / 16 * 1rem);
            height: 100vw;
            /* 16px - 24px */
            margin: 0 0 clamp(1rem, 3vw, 1.5rem) 0;
            background-color: #1a1a1a;
            overflow: hidden;
            display: block;
            /* prevents flexbox from squishing it */
            flex: none;
            position: relative;
            z-index: 1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: transform .6s, opacity .3s;
            }
        }

        .cs-flex {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            z-index: 2;
        }

        .cs-date {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: inherit;
            margin: 0 0 calc(32 / 16 * 1rem) 0;
            padding: calc(8 / 16 * 1rem) calc(16 / 16 * 1rem);
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            background-color: #D1D3D4;
            color: #1a1a1a;
            display: inline-block;
            position: absolute;
            left: calc(16 / 16 * 1rem);
            bottom: 100%;
            z-index: 2;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            text-align: inherit;
            line-height: 1.2em;
            font-weight: 700;
            color: var(--headerColor);
            /* 12px - 16px */
            margin: 0 0 clamp(.75rem, 2vw, 1rem) 0;
            transition: color .3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColor);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #price-alerts {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-content {
            text-align: left;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
        }

        .cs-title {
            margin: 0;
        }

        .cs-item {
            grid-column: span 4;
        }

        .cs-picture {
            min-height: calc(180 / 16 * 1rem);
            /* 180px - 284px */
            height: clamp(11.25rem, 23vw, 17.75rem);
            max-height: 100%;
        }
    }
}
